header{
  background-color: ghostwhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  width: 100%;
}

header a{
  color: #000;
  font-weight: bold;
  font-size: large;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 5%;
  }
  
  h1 {
    color: #333;
  }
  
  #product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  